{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
{% block head %}
    {% block title %}
        {{ title }}
    {% endblock %}
    {{ block.super }}
{% endblock head %}

{% block body %}
    {{ block.super }}
    <div class="container">
        <div class="row mt-3">
            <ul>
                {% for device in object_list %}
                    <li><a href = "{{device.pk}}/"> {{ device.hostname }} ::: {{ device.state }} </a> </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            $("#devices-tab").addClass('active');
    });
    </script>
{% endblock %}
</html>